:root {

/**
   * Colors
   * --------------------------------------------------------------------- */

   --c-white: #ffffff;
   --c-white-dark: #f8f8f8;
   --c-black: #000000;
 
   --c-divider-light: rgba(60, 60, 67, 0.12);
   --c-divider-dark: rgba(84, 84, 88, 0.48);
 
   --c-text-light-1: #2c3e50;
   --c-text-light-2: #476582;
   --c-text-light-3: #90a4b7;
 
   --c-brand: #3eaf7c;
   --c-brand-light: #4abf8a;
 
   /**
    * Typography
    * --------------------------------------------------------------------- */
 
   --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 
   /**
    * Z Indexes
    *
    * Algolia SearchBox has a z-index of 200, so make sure not to go above
    * that value.
    * --------------------------------------------------------------------- */
 
   --z-index-navbar: 10;
   --z-index-sidebar: 6;
 
   /**
    * Shadows
    * --------------------------------------------------------------------- */
 
   --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
   --shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
   --shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
   --shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
   --shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
 
   /**
    * Sizes
    * --------------------------------------------------------------------- */
 
   --header-height: 3.6rem;

   /* custom */
    --c-brand: #646cff;
    --c-brand-light: #747bff;
}

.core-design-item {
    padding: 20px;
    border-radius: 4px;
}

.uielement {
    background-color: #ff5e00;
}

.uielement > h1 {
    font-size: 20px;
    color: white;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.uielement > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.eventmachine {
    background-color: orange;
}

.eventmachine > h1 {
    font-size: 20px;
    color: white;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.basestore {
    background-color: rgb(174, 0, 255);
}

.basestore > h1 {
    font-size: 20px;
    color: white;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.eventmachine-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.eventmachine-item > div {
    background-color: #2196f3;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;    
}

.eventmachine-item > div a {
    color: white;
    text-decoration: none;
}

.basestore-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.basestore-item > div {
    background-color: #4caf50;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.basestore-item > div a {
    color: white;
    text-decoration: none;
}